<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/conteiner-cards.css">
        <link rel="stylesheet" href="/global.css">
        <link rel="stylesheet" href="/navbar.css">
        <title>Seaside Manegement| Cadastro de Produtos</title>
    </head>
    <body>
        <nav class="navbar">
            <h1>Seaside<strong>Manegement</strong></h1>
        </nav>
        <main class="conteiner-card">
            <form id="login-form" th:action="@{/gravar}" th:object="${produto}" method="post">
                <h1>Cadastro</h1>
                <div class="div-inputs">
                    <input type="text" class="inputs" required th:field="${produto.nome}">
                    <label for="nomeProduto" class="label-input">Nome Produto</label>
                </div>
                <div class="div-inputs">
                    <input type="number" class="inputs" required th:field="${produto.cod}">
                    <label for="cod" class="label-input">Código</label>
                </div>
                <div class="div-inputs">
                    <input type="date" name="dataFabricacao" class="inputs" required th:field="${produto.dataFabricacao}"> 
                    <label for="dataFabricacao" class="label-input-date">Data Fabricação</label>
                </div>
                <div class="div-inputs">
                    <input type="date" name="dataVencimento" class="inputs" required th:field="${produto.dataVencimento}">
                    <label for="dataVencimento" class="label-input-date">Data Vencimento</label>
                </div>
                <div class="div-inputs">
                    <input type="number" name="valorProduto" class="inputs" required th:field="${produto.valor}">
                    <label for="valorProduto" class="label-input">Valor Produto</label>
                </div>
                <div class="div-inputs">
                    <input type="text" name="vendido" class="inputs" required th:field="${produto.vendido}">
                    <label for="vendido" class="label-input">Vendido</label>
                </div>
                <div class="button">
                    <input type="submit" value="Cadastrar" class="inputButton">
                </div>
            </form>
        </main>
    </body>
</html>
